# Projeto Insights - Parte 2

## Questões
1. Crie um anova coluna chamada: "house_age" ==
 - Se o valor da coluna "date" for maior que 2014-01-01 => 'new_house
 - Se o valor da coluna "date" for menor que 2014-01-01 => 'old_house

2. Crie uma nova coluna chamada: "dormitory_type"
 - Se o valor da coluna "bedrooms" for igual à 1 => 'studio'
 - Se o valor da coluna "bedrooms" for igual à 2 => 'apartament'

3. Crie uma nova coluna chamada: "condition_type"
 - Se o valor da coluna "condition" for menor ou igual à 2 => 'bad'
 - Se o valor da coluna "condition" for igual à 3 ou 4 => 'regular'
 - Se o valor da coluna "condition" for igual à 5 => 'good'

4. Modifique o TIPO da coluna "condition" para STRING

5. Delete as colunas "sqft_living15" e "sqft_lot15"

6. Modifique o TIPO da coluna "yr_build" para DATE

7. Modifique o TIPO da coluna "yr_renovated" para DATE

8. Qual a data mais antiga de construção de um imóvel?

9. Qual a data mais antiga de renovação de um imóvel?

10. Quantos imóveis tem 2 andares?

11. Quantos imóveis estão com a condição igual à "regular"?

12. Quantos imóveis estão com a condição igual a "bad" e possuem "vista para água"?

13. Quantos imóveis estão com a condição igual a "good" e são "new_house"?

14. Qual o valor do imóvel mais caro do tipo "studio"?

15. Quantos imóveis do tipo "apartament" foram reformados em 2015?

16. Qual o maior número de quartos que um imóvel do tipo "house" possui?

17. Quandos imóveis "new_house" foram reformados no ano de 2014?

18. Selecione as colunas: "id = 0", "date = 1", "price = 2", "floors" = 7, "zipcode = 16" pelo método:
 - Direto pelo nome das colunas

 - Pelos índices

 - Pelos índices das linhas e o nome das colunas

 - Índices booleanos

19. Salve um arquivo .csv com somente as colunas que foram criadas

### 0. Importando bibliotecas

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('datasets/kc_house_data.csv')
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### 1. Crie um anova coluna chamada: "house_age" ==
 - Se o valor da coluna "date" for maior que 2014-01-01 => 'new_house
 - Se o valor da coluna "date" for menor que 2014-01-01 => 'old_house

In [3]:
data['date'] = pd.to_datetime(data['date'],format='%Y-%m-%d')
data['house_age'] = data['date'].apply(lambda x: 'new_house' if x > pd.to_datetime('2014-01-01',format='%Y-%m-%d') else 'old_house')
data['house_age'].head()

0    new_house
1    new_house
2    new_house
3    new_house
4    new_house
Name: house_age, dtype: object

 ### 2. Crie uma nova coluna chamada: "dormitory_type"
 - Se o valor da coluna "bedrooms" for igual à 1 => 'studio'
 - Se o valor da coluna "bedrooms" for igual à 2 => 'apartament'

In [4]:
#criando coluna condicional
data['dormitory_type'] = data['bedrooms'].apply(lambda x: 'studio' if x == 1 else
                                                          'apartment' if x ==2 else
                                                            'house' if x > 2 else 'NA')
data['dormitory_type'].head()

0        house
1        house
2    apartment
3        house
4        house
Name: dormitory_type, dtype: object

 ### 3. Crie uma nova coluna chamada: "condition_type"
 - Se o valor da coluna "condition" for menor ou igual à 2 => 'bad'
 - Se o valor da coluna "condition" for igual à 3 ou 4 => 'regular'
 - Se o valor da coluna "condition" for igual à 5 => 'good'

In [5]:
#criando coluna condicional
data['condition_type'] = data['condition'].apply(lambda x:  'bad' if x <=2 else
                                                            'regular' if (x == 3) | (x==4)  else 'good' )
data['condition_type'].head()

0    regular
1    regular
2    regular
3       good
4    regular
Name: condition_type, dtype: object

### 4. Modifique o TIPO da coluna "condition" para STRING

In [6]:
data['condition'].astype(str) #convertendo a coluna condition para int
data['condition'].dtypes

dtype('int64')

### 5. Delete as colunas "sqft_living15" e "sqft_lot15"

In [7]:
data = data.drop(['sqft_living15', 'sqft_lot15'], axis=1)

### 6. Modifique o TIPO da coluna "yr_build" para DATE

In [8]:
data['yr_built'] = pd.to_datetime(data['yr_built'], format='%Y') #convertendo a coluna 'year' para data
data['yr_built'].head()

0   1955-01-01
1   1951-01-01
2   1933-01-01
3   1965-01-01
4   1987-01-01
Name: yr_built, dtype: datetime64[ns]

### 7. Modifique o TIPO da coluna "yr_renovated" para DATE

In [17]:
data['yr_renovated']= data['yr_renovated'].apply(lambda x: pd.to_datetime('1900-01-01',format ='%Y-%m-%d') if x== 0 else
                                 pd.to_datetime(x, format='%Y'))     
data['yr_renovated'].head()

0   1970-01-01
1   1991-01-01
2   1970-01-01
3   1970-01-01
4   1970-01-01
Name: yr_renovated, dtype: datetime64[ns]

### 8. Qual a data mais antiga de construção de um imóvel?

In [16]:
mais_antiga = data['yr_built'].min()
print('A casa mais antiga é {}'.format(mais_antiga))

A casa mais antiga é 1900-01-01 00:00:00

### 9. Qual a data mais antiga de renovação de um imóvel?

In [21]:
renov_maisantiga = data.loc[data['yr_renovated'] > pd.to_datetime('1900-01-01', format='%Y-%m-%d'),'yr_renovated'].min()
print('A casa de renovação mais antiga é {}'.format(renov_maisantiga))

A casa de renovação mais antiga é 1934-01-01 00:00:00

### 10. Quantos imóveis tem 2 andares?

In [24]:
casas_2and = data.loc[data['floors'] == 2,'id'].size
print('Há {} imóveis com 2 andares'.format(casas_2and))

Há 8241 imóveis com 2 andares

### 11. Quantos imóveis estão com a condição igual à "regular"?

In [26]:
casas_regul = data.loc[data['condition_type'] =='regular','id'].size
print('Há {} imóveis na condição regular'.format(casas_regul))

Há 19710 imóveis na condição regular

### 12. Quantos imóveis estão com a condição igual a "bad" e possuem "vista para água"?

In [37]:
casas_bad_vistaagua = data.loc[(data['condition_type']== 'bad') & (data['waterfront'] ==1),'id'].size
print('Há {} casas com a condição ruim e com vista para água'.format(casas_bad_vistaagua))

Há 2 casas com a condição ruim e com vista para água

 ### 13. Quantos imóveis estão com a condição igual a "good" e são "new_house"?

In [39]:
imovel_good_new = data.loc[(data['condition_type'] == 'good') & (data['house_age']),'id'].size
print('Há {} imóveis na condição good e classficados como new'.format(imovel_good_new))

Há 1701 imóveis na condição good e classficados como new

### 14. Qual o valor do imóvel mais caro do tipo "studio"?

In [43]:
studio_maiscaro = data.loc[data['dormitory_type'] == 'studio','price'].max()

print('O Studio mais caro é custa {}'.format(studio_maiscaro))

O Studio mais caro é custa 1247000.0

 ### 15. Quantos imóveis do tipo "apartament" foram reformados em 2015?

In [47]:
apartament_reforma2015 = data.loc[(data['dormitory_type'] =='apartament') & (data['yr_renovated'] == pd.to_datetime('2015-01-01')),'id'].size
print('Há um total de {} imóveis do tipo apartamento que foram reformados em 2015'.format(apartament_reforma2015))

Há um total de 0 imóveis do tipo apartamento que foram reformados em 2015

 ### 16. Qual o maior número de quartos que um imóvel do tipo "house" possui?

In [52]:
house_mais_quartos = data.loc[data['dormitory_type'] == 'house','bedrooms'].max()
print('Há {} quartos no maior imóvel do tipo house'.format(house_mais_quartos))

Há 33 quartos no maior imóvel do tipo house

 ### 17. Quantos imóveis "new_house" foram reformados no ano de 2014?

In [59]:
qtde_imov_ref_2014 = data.loc[(data['house_age'] == 'new_house') &
                   (data['yr_renovated'] == pd.to_datetime('2014-01-01',format='%Y-%m-%d')),'id'].size

print('Há {} imóveis do tipo new_house que foram reformados em 2014'.format(qtde_imov_ref_2014) )

Há 91 imóveis do tipo new_house que foram reformados em 2014

### 18. Selecione as colunas: "id = 0", "date = 1", "price = 2", "floors" = 7, "zipcode = 16" pelo método:
 - Direto pelo nome das colunas

 - Pelos índices

 - Pelos índices das linhas e o nome das colunas

 - Índices booleanos

In [69]:
# método 1 - Direto pelo nome das colunas

data[['id','date','price','floors','zipcode']]

# método 2 - Pelos índices

data.iloc[:,[ 0,1,2,7,16]]

# método 3 -- Pelos índices das linhas e o nome das colunas

data.loc[0, ['id','date','price','floors','zipcode']]

# método 4 -  Índices booleanos

i= [True, True, True, False, False, False,
False, True, False, False, False, False,
False, False, False, False, True,
False, False, False, False, False]

data.iloc[0:10,i]

           id       date      price  floors  zipcode
0  7129300520 2014-10-13   221900.0     1.0    98178
1  6414100192 2014-12-09   538000.0     2.0    98125
2  5631500400 2015-02-25   180000.0     1.0    98028
3  2487200875 2014-12-09   604000.0     1.0    98136
4  1954400510 2015-02-18   510000.0     1.0    98074
5  7237550310 2014-05-12  1225000.0     1.0    98053
6  1321400060 2014-06-27   257500.0     2.0    98003
7  2008000270 2015-01-15   291850.0     1.0    98198
8  2414600126 2015-04-15   229500.0     1.0    98146
9  3793500160 2015-03-12   323000.0     2.0    98038

### 19. Salve um arquivo .csv com somente as colunas que foram criadas

In [ ]:
data[['house_age','dormitory_type','condition_type']].to_csv('Exercicio_19.csv')