# Projeto Insights

## Questions
1. Quantas casas estão disponíveis para compra?
2. Quantos atributos as casas possuem?
3. Quais são os atributos das casas?
4. Qual a casa mais cara ( casa com o maior valor de venda )?
5. Qual a casa com o maior número de quartos?
6. Qual a soma total de quartos do conjunto de dados?
7. Quantas casas possuem 2 banheiros?
8. Qual o preço médio de todas as casas no conjunto de dados?
9. Qual o preço médio de casas com 2 banheiros?
10. Qual o preço mínimo entre as casas com 3 quartos?
11. Quantas casas possuem mais de 300 metros quadrados na sala
de estar?
12. Quantas casas tem mais de 2 andares?
13. Quantas casas tem vista para o mar?
14. Das casas com vista para o mar, quantas tem 3 quartos?
15. Das casas com mais de 300 metros quadrados de sala de estar,
quantas tem mais de 2 banheiros?

## Imports

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv ('datasets/kc_house_data.csv')
data.head()
# same as(data.sample(5))

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## Dataset Description

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

# Respostas

###  1. Quantas casas estão disponíveis para compra?

In [4]:
casas = len(data['id'].unique())
print('O número da casas disponíveis é {}'.format(casas))

O número da casas disponíveis é 21436

### 2. Quantos atributos as casas possuem?

In [5]:
#Considerações: Nesse caso considerei ID e Data como atributos. Caso contrário poderia fazer drop de ambas.
atributos = len(data.columns)
print('O número de atributos é {}'.format(atributos))

O número de atributos é 21

### 3. Quais são os atributos das casas?

In [6]:
list(data.columns)

['id',
 'date',
 'price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

### 4. Qual a casa mais cara ( casa com o maior valor de venda )?

In [7]:
mais_cara = data[['id', 'price']].sort_values('price', ascending = False).reset_index(drop=True).loc[0,'id']
mais_cara_preco = data[['id', 'price']].sort_values('price', ascending = False).reset_index(drop=True).loc[0,'price']
print('A casa mais cara tem o Id: {} e custa {}'.format(mais_cara, mais_cara_preco))

A casa mais cara tem o Id: 6762700020 e custa 7700000.0

### 5. Qual a casa com o maior número de quartos?

In [8]:
mais_quartos = data[['id', 'bedrooms']].sort_values('bedrooms', ascending=False).reset_index(drop=True).loc[0,'id']
mais_quartos_qtd = data[['id', 'bedrooms']].sort_values('bedrooms', ascending=False).reset_index(drop=True).loc[0,'bedrooms']
print('A casa com maior quantidade de quartos tem Id: {} e possui {} quartos'.format(mais_quartos, mais_quartos_qtd))

A casa com maior quantidade de quartos tem Id: 2402100895 e possui 33 quartos

### 6. Qual a soma total de quartos do conjunto de dados?

In [9]:
total_quartos = data['bedrooms'].sum()
print('O total de quartos é {}'.format(total_quartos))

O total de quartos é 72854

### 7. Quantas casas possuem 2 banheiros?

In [10]:
casas_2banheiros = len( data.loc[data['bathrooms'] == 2, ['id', 'bathrooms']] )
print('O numero de casas que possuem 2 banheiros é de {}'.format(casas_2banheiros))

O numero de casas que possuem 2 banheiros é de 1930

### 8. Qual o preço médio de todas as casas no conjunto de dados?

In [11]:
preco_medio = np.round(data['price'].mean(), 2)
print('O preço médio é de {}'.format(preco_medio))

O preço médio é de 540088.14

### 9. Qual o preço médio de casas com 2 banheiros?

In [12]:
preco_medio_2banheiros = np.round(data.loc[data['bathrooms'] ==2, 'price'].mean(),2)
print('O preço médio das casa com 2 banheiros é {}'.format(preco_medio_2banheiros))

O preço médio das casa com 2 banheiros é 457889.72

### 10.Qual o preço mínimo entre as casas com 3 quartos?

In [13]:
preco_min_3quartos = data.loc[data['bedrooms'] == 3,'price'].min()
print('O valor mínimo de casa com 3 quartos é de {}'.format(preco_min_3quartos))

O valor mínimo de casa com 3 quartos é de 82000.0

### 11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?

In [14]:
datam2 = data['sqft_living'] * 0.093  #conversao aproximada de square feet para metros quadrados
casa_maiores300 = len(data.loc[datam2 > 300, 'id'])
print('Há {} casas com mais de 300 metros quadrados'. format(casa_maiores300))

Há 2258 casas com mais de 300 metros quadrados

### 12. Quantas casas tem mais de 2 andares?

In [24]:
qtde_casas_mais_2quartos = data.loc[data['floors'] > 2, 'id'].size
print('Há {} casas com mais de dois quartos'.format(qtde_casas_mais_2quartos))

Há 782 casas com mais de dois quartos

### 13. Quantas casas tem vista para o mar?

In [17]:
qtde_casas_vistamar = data.loc[data['waterfront'] ==1,'id'].size
print('Há {} casas com vista para o mar'.format(qtde_casas_vistamar))

Há 163 casas com vista para o mar

### 14. Das casas com vista para o mar, quantas tem 3 quartos?

In [18]:
qtde_casas_vistamar3q = data.loc[(data['waterfront'] == 1) & (data['bedrooms'] == 3),'id'].size
print('Há {} casas com vista para o mar'.format(qtde_casas_vistamar3q))

Há 64 casas com vista para o mar

### 15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

In [19]:
casas_m300m2_m2banheiros = len(data.loc[(datam2 > 300) & (data['bathrooms'] >2), 'id'])
print('Há um total de {} casas com mais de 300 metros de sala e com mais que 2 banheiros'.format(casas_m300m2_m2banheiros))

Há um total de 2201 casas com mais de 300 metros de sala e com mais que 2 banheiros

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB